/*数据概览*/
.sj-all{height: 33em;width: 100%;}
 h2{font-size: 16px;width: 80px;height: 20px;margin-left: 20px;display: inline-block;font-weight: bold;margin-top:10px;}
.sj-all .sj-top {height: 9em;margin-top: 10px;box-shadow: 1px 1px 1px #e7e2e2;}
.sj-all .sj-top ul{height: 8em;text-align: center;width: 100%}
.sj-all .sj-top ul>li{float: left; width: 80px;height: 30px;margin-left: 30px;margin-top: 20px;}
.sj-all .sj-top ul>li>span{ display: inline-block;width: 80px;height: 10px; text-align: center;font-size: 16px;font-weight: bolder;line-height: 10px;color: black; }
.sj-all .sj-top ul>li>span.zi{ display: inline-block;width: 80px;height: 20px; font-weight: normal;color: #949494; font-size: 10px;}
.sj-all .sj-mid{width: 100%;height: 13em;margin-top: 20px;}
.sj-all .sj-mid table{margin-left: 10px;}
.sj-all .sj-mid table th,td{width: 70px;height: 30px;border: 1px solid #ebe9e9;font-size: 12px;text-align: center;font-family:"微软雅黑"}
.sj-all .sj-mid table th{color: #6b6b6b}
.sj-all .sj-mid table tr:nth-child(2n-1){background-color: #f8f8f8;}
.sj-all .sj-mid table td{background-color: #f8f8f8;}

/*访客分析*/
.fkfx{width: 100%;height: 100px;}
.fkfx .fkfx-top{width: 100%;height: 200px;}
.fkfx .fkfx-top .fkfx-top-left{width: 60px;height: 70px; float: left;margin-top: 20px;margin-left: 40px;}
.fkfx .fkfx-top .fkfx-top-left span{width: 60px;height: 25px;text-align: center;line-height: 30px;color: black; display: inline-block;font-size: 16px;font-weight: bolder;color: black;}
.fkfx .fkfx-top .fkfx-top-left span.fks{display: inline-block;font-weight: normal;color: #949494; font-size: 10px;height: 20px;}
.fkfx .fkfx-top .fkfx-top-right{width: 230px;height: 100px;display: inline-block;margin-left: 30px;margin-top: 10px;}
.fkfx .fkfx-top .fkfx-top-right ul{width: 230px;height: 100px;}
.fkfx .fkfx-top .fkfx-top-right ul>li{margin-top: 5px;height: 20px;width: 230px;}
.fkfx .fkfx-top .fkfx-top-right ul>li span{color: #b3b3b3;display: inline-block;width: 60px;height: 20px;line-height: 20px;}
.fkfx .fkfx-top .fkfx-top-right ul>li span.sz{color: #ff8400;margin-left: 5px;width: 30px}
.fkfx .fkfx-top .fkfx-top-right ul>li span.tx{width: 130px;height: 15px;background-color: #eeeeee;}
