<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <title>微信统计</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="keywords" content="{#$live_keywords#}"/>
    <meta name="description" content="{#$live_description#}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/wxtj.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$templets_skin#}js/mobiscroll.js"></script>
    <script>
        var hiddenid="{#$userinfo.userid#}",masterDomain = '{#$cfg_basehost#}',staticPath = '{#$cfg_staticPath#}', templatePath = '{#$templets_skin#}';
        var imgtextUrl = '{#getUrlPath service='member' type='user' template='live_imgtext' param='id='#}';
    </script>
</head>
<body>
{#$pageTitle = '浏览记录'#}
{#include file="top.html"#}
<div class="share_list">
    <ul class="share">
    </ul>
</div>
<div class="popupRightBottom">
    <div class="fastTop" ><i></i></div>
</div>
<script>
    var atpage = '{#$page#}',
        community = '{#$community#}',
        totalCount = {#if $pageInfo.totalCount == 0#}0{#else#}{#$pageInfo.totalCount#}{#/if#},
        totalPage = {#if $pageInfo.totalPage == 0#}0{#else#}{#$pageInfo.totalPage#}{#/if#},
            pageSize = 10;
</script>
<script type="text/javascript" src="{#$templets_skin#}js/share_people.js?v={#$cfg_staticVersion#}"></script>
</body>
</html>