<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{#$langData['siteConfig'][16][31]#}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/common.css?v={#$cfg_staticVersion#}">
<link rel="stylesheet" href="{#$templets_skin#}css/upgrade.css?v={#$cfg_staticVersion#}">
<script src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
<script src="{#$cfg_staticPath#}js/core/zepto.min.js"></script>
<script type="text/javascript" src="{#$templets_skin#}js/public.js?v={#$cfg_staticVersion#}"></script>
<script type="text/javascript">
    var masterDomain = '{#$cfg_basehost#}', staticPath = '{#$cfg_staticPath#}';
</script>
{#* 微信分享 *#}
{#$Share_description = {#$cfg_description#}#}
{#$Share_title = {#$cfg_webname#}#}
{#$Share_img = {#$cfg_weblogo#}#}
{#$Share_url = {#$cfg_basehost#}#}
{#include file="{#$HUONIAOROOT#}/templates/siteConfig/public_share.html"#}
</head>

<body>
{#include file="../../siteConfig/touch_top.html" headTheme="absolute transparent" pageTitle="{#$langData['siteConfig'][16][31]#}"#}

  <!-- 用户信息 s -->
  <div class="user-box fn-clear">
    {#if $userinfo#}
    <div class="userphoto-box fn-left">
      <div class="userphoto"><a href="{#getUrlPath service='member' type='user' template='profile'#}"><img onerror="javascript:this.src='{#$cfg_staticPath#}images/noPhoto_100.jpg';" src="{#if $userinfo.photo == ""#}{#$cfg_staticPath#}images/noPhoto_100.jpg{#else#}{#changeFileSize url="{#$userinfo.photo#}" type="middle"#}{#/if#}" /></a></div>
      <div class="yan"><span class="upgrade1"></span></div>
    </div>
    <div class="username fn-left">
      <p class="nicekname"><a href="{#getUrlPath service='member' type='user' template='profile'#}">{#$userinfo.nickname#}</a><span class="userlevel">{#if $userinfo.level#}{#$userinfo.levelName#}{#else#}{#if $userinfo.userType == 1#}{#$langData['siteConfig'][0][2]#}{#else#}{#$langData['siteConfig'][0][4]#}{#/if#}{#/if#}</span></p>
    </div>
    {#else#}
    <div class="userphoto-box fn-left">
      <div class="userphoto"><img src="{#$cfg_staticPath#}images/noPhoto_100.jpg"></div>
    </div>
    <div class="username fn-left">
      <p class="nicekname"><a href="{#$cfg_basehost#}/login.html">{#$langData['siteConfig'][2][0]#}/{#$langData['siteConfig'][1][0]#}</a></p>
    </div>
    {#/if#}
  </div>
  <!-- 用户信息 e -->

  <div class="grade">
    <ul class="fn-clear">
      {#foreach from=$memberlevelList item=level key=k#}
      <li{#if $k == 0#} class="active"{#/if#}><div class="imgbox"><img src="{#if $level.icon#}{#$level.icon#}{#else#}{#$templets_skin#}images/grade_{#$k+1#}.png{#/if#}" alt=""></div><p>{#$level.name#}</p></li>
      {#/foreach#}
    </ul>
  </div>

  <div class="price">
    {#foreach from=$memberlevelList item=level#}
    <ul{#if $i == 0#} style="display: block;"{#/if#}>
      {#$i = 0#}
      {#foreach from=$memberlevelList[0]['cost'] item=ll#}
      <li class="fn-clear"><span class="time">{#$ll['day']#}{#if $ll['daytype'] == 'day'#}{#$langData['siteConfig'][13][6]#}{#elseif $ll['daytype'] == 'month'#}{#$langData['siteConfig'][13][31]#}{#elseif $ll['daytype'] == 'year'#}{#$langData['siteConfig'][13][14]#}{#/if#}</span><span class="money">{#echoCurrency type='symbol'#}{#$level['cost'][$i]['price']#}</span><span class="btn"><a href="{#getUrlPath service='member' type='user' template='upgrade-pay' param="level={#$level.id#}&day={#$ll['day']#}&daytype={#$ll['daytype']#}"#}">{#$langData['siteConfig'][19][656]#}</a></span></li>
      {#$i = $i + 1#}
      {#/foreach#}
    </ul>
    {#/foreach#}
  </div>

  <div class="special">
    <p class="tit"><span>{#$langData['siteConfig'][16][78]#}</span></p>
    <div class="special-box">
      {#foreach from=$memberlevelList item=list key=l#}
      <ul{#if $l == 0#} style="display: block;"{#/if#}>

        {#foreach from=$list['privilege'] item=count key=module#}

            {#if $module == "article"#}
            {#*
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][79]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][80]|replace:'1':$count#}</p>
              </div>
            </li>
            *#}
            {#/if#}

            {#if $module == "info"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][83]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][84]|replace:'1':$count#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "house"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][87]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][88]|replace:'1':$count#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "tieba"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][81]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][82]|replace:'1':$count#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "huodong"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][85]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][86]|replace:'1':$list['privilege']['huodong']#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "vote"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][177]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][178]|replace:'1':$list['privilege']['vote']#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "live"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][179]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][180]|replace:'1':$list['privilege']['live']#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "education"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][181]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][182]|replace:'1':$list['privilege']['education']#}</p>
              </div>
            </li>
            {#/if#}

            {#if $module == "car"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][183]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][184]|replace:'1':$list['privilege']['car']#}</p>
              </div>
            </li>
            {#/if#}
			{#if $userinfo#}
			{#if $userinfo.userType == 2#}
			{#if $module == "push_timer"#}
            <li>
              <div class="imgbox"><img src="{#$installModuleIconArr[$module]#}" alt=""></div>
              <div class="txtbox">
                <p>{#$langData['siteConfig'][16][186]#}</p>
                <p class="gray">{#$langData['siteConfig'][16][187]|replace:'1':$list['privilege']['push_timer']#}</p>
              </div>
            </li>
            {#/if#}
			{#/if#}
			{#/if#}
        {#/foreach#}

      </ul>
      {#/foreach#}
    </div>
  </div>

<script src="{#$templets_skin#}js/upgrade.js?v={#$cfg_staticVersion#}" charset="utf-8"></script>
</body>
</html>
