<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{#$cfg_soft_lang#}">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>微信访客</title>
    <link rel="stylesheet" type="text/css" href="{#$cfg_staticPath#}css/core/touchBase.css?v={#$cfg_staticVersion#}" />
    <link rel="stylesheet" type="text/css" href="{#$templets_skin#}css/weixin.css?v={#$cfg_staticVersion#}">
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/touchScale.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript" src="{#$cfg_staticPath#}js/core/zepto.min.js?v={#$cfg_staticVersion#}"></script>
    <script type="text/javascript">
        var masterDomain = '{#$cfg_basehost#}', channelDomain = '{#$house_channelDomain#}', staticPath = '{#$cfg_staticPath#}', templets_skin = '{#$templets_skin#}';
        var hideFileUrl = {#$cfg_hideUrl#}, cookiePre = '{#$cfg_cookiePre#}';
        var action = 'xzlList', detailListId = 'xzl-list';
    </script>
</head>
<body>
    <!-- header-->
    {#include file="../../../siteConfig/touch_top.html" pageTitle="微信访客"#}
    <!-- header e-->
    <!-- 数据概览 -->
    <div class="sj-all">
        <h2>数据概览</h2>
        <div class="sj-top">
            <ul>
                <li><span>0</span><span class="zi">分享总数</span></li>
                <li><span>0</span><span class="zi">累计转发次数</span></li>
                <li><span>0</span><span class="zi">累计浏览次数</span></li>
                <li><span>0</span><span class="zi">累计访客人数</span></li>
                <li><span>0</span><span class="zi">电话点击数</span></li>
                <li><span>0</span><span class="zi">IM按钮点击数</span></li>
            </ul>
        </div>
        <div class="sj-mid">
            <table>
                <tbody>
                <tr>
                    <td>名称</td>
                    <td>分享量</td>
                    <td>浏览量</td>
                    <td>访客量</td>
                    <td>转发量</td>
                </tr>
                <tr>
                    <th>店铺</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                </tr>
                <tr>
                    <th>楼盘</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                </tr>
                <tr>
                    <th>文章</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                </tr>
                <tr>
                    <th>海报</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                </tr>
                <tr>
                    <th>名片</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                    <th>0</th>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <!-- 数据概览 e-->
    <!-- 访客分析 -->
    <div class="fkfx">
        <h2>访客分析</h2>
        <div class="fkfx-top">
            <div class="fkfx-top-left">
                <span>0</span>
                <span class="fks">累计访客数</span>
            </div>
            <div class="fkfx-top-right">
                <ul>
                    <li><span>今天新增</span><span class="sz">10</span><span class="tx"></span></li>
                    <li><span>3天内新增</span><span class="sz">20</span><span class="tx"></span></li>
                    <li><span>7天内新增</span><span class="sz">30</span><span class="tx"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 访客分析 e-->
<script type="text/javascript">
    var wxconfig = {
        "appId": '{#$wxjssdk_appId#}',
        "timestamp": '{#$wxjssdk_timestamp#}',
        "nonceStr": '{#$wxjssdk_nonceStr#}',
        "signature": '{#$wxjssdk_signature#}',
        // "description": '{#$house_description#}',
        // "title": '{#$siteCityInfo['name']#}{#$sp_seotitle#}写字楼{#$pageType#}',
        // "imgUrl": '{#$house_logoUrl#}',
        // "link": '{#getUrlPath service='house' template='xzl'#}',
    };
    document.write(unescape("%3Cscript src='{#$cfg_staticPath#}js/publicShare.js?v="+~(-new Date())+"'type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>